<div class="scoreboard">
  <div class="team-box team-1">
    <div class="team-name">Team A</div>
    
    <div class="team-score">{{ gameService.teamAScore }}</div>
    <div class="score-controls">
      <button class="decrement-button" (click)="decrementTeamAScore()">-</button>
      <button class="increment-button" (click)="incrementTeamAScore()">+</button>
    </div>
    
    <div class="player-list">
      <div class="player-title">Players</div>
      <div class="player-name" *ngFor="let player of gameService.teamAPlayers; let i = index">
        <span *ngIf="!player.editing" (click)="editPlayerName(player)">{{ player.name }}</span>
        <input 
          *ngIf="player.editing" 
          type="text" 
          [(ngModel)]="player.editName" 
          (blur)="savePlayerName(player)"
          (keyup.enter)="savePlayerName(player)"
          #playerNameInput
        >
        <button class="edit-button" (click)="editPlayerName(player)" *ngIf="!player.editing">Edit</button>
        <span class="serving-indicator" *ngIf="gameService.isPlayerServing('A', i+1)">🔄</span>
      </div>
    </div>
  </div>
  
  <div class="team-box team-2">
    <div class="team-name">Team B</div>
    <div class="team-score">{{ gameService.teamBScore }}</div>
    <div class="score-controls">
      <button class="decrement-button" (click)="decrementTeamBScore()">-</button>
      <button class="increment-button" (click)="incrementTeamBScore()">+</button>
    </div>
    <div class="player-list">
      <div class="player-title">Players</div>
      <div class="player-name" *ngFor="let player of gameService.teamBPlayers; let i = index">
        <span *ngIf="!player.editing" (click)="editPlayerName(player)">{{ player.name }}</span>
        <input 
          *ngIf="player.editing" 
          type="text" 
          [(ngModel)]="player.editName" 
          (blur)="savePlayerName(player)"
          (keyup.enter)="savePlayerName(player)"
          #playerNameInput
        >
        <button class="edit-button" (click)="editPlayerName(player)" *ngIf="!player.editing">Edit</button>
        <span class="serving-indicator" *ngIf="gameService.isPlayerServing('B', i+1)">🔄</span>
      </div>
    </div>
  </div>
</div>

<div class="controls">
  <button class="reset-button reset-all" (click)="resetAllScores()">Reset All Scores</button>
  <div class="game-status" [class.game-over]="gameService.isGameOver">
    {{ gameService.gameStatus }}
  </div>
</div>

