.table-tennis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 100%;
  max-width: 600px;
}

.table-illustration {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%; /* Maintain aspect ratio */
  top: -30px;
}

.table {
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: #66b3ff;
  border: 4px solid white;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.net {
  position: absolute;
  width: 2px;
  height: 60%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-marker {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: transform 0.3s, box-shadow 0.3s, top 0.5s;
}

.serving {
  transform: scale(1.2);
  animation: pulse 0.5s infinite;
  box-shadow: 0 0 10px 3px rgba(0, 47, 255, 0.7);
  @keyframes pulse {
    0% {
      box-shadow: 0 0 5px 1px rgba(0, 47, 255, 0.7);
    }
    50% {
      box-shadow: 0 0 10px 2px rgba(0, 47, 255, 0.7); 
    }
    100% {
      box-shadow: 0 0 15px 3px rgba(0, 47, 255, 0.7);
    }
  }
  z-index: 10;
}

.team-a-player {
  left: 5%;
}

.team-a-player-1 {
  background-color: #dc3545;
}

.team-a-player-2 {
  background-color: #e57373;
}

.team-b-player {
  right: 5%;
}

.team-b-player-1 {
  background-color: #28a745;
}

.team-b-player-2 {
  background-color: #81c784;
}

.top {
  top: 33%;
}

.bottom {
  top: 53%;
}

.table-illustration-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .table-tennis-container {

    max-width: 450px;
  }
}

@media (max-width: 576px) {
  .table-tennis-container {
    margin: 1rem auto;
    max-width: 100%;
  }
  
  .player-marker {
    width: 35px;
    height: 35px;
    font-size: 0.9rem;
  }
  
  .top {
    top: 30%;
  }
  
  .bottom {
    top: 55%;
  }
}

@media (max-width: 480px) {
  .player-marker {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }
}
